<!doctype html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Microsoft Cognitive Emotion Tracking Demo</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../css/app.css">

</head>

<body>
    <script>
        function sendData() {
            var formData = createFormJSON();
            console.log(encodeURI(formData));
            
            $.ajax({
                    type:"GET",
                    beforeSend: function (request){
                        request.setRequestHeader("Content-Type", "application/json");
                    },
                    url: "/api/registerMessage?json="+encodeURIComponent(formData),
//                    url: "/api/registerMessage",
                    json: true,
                    body: encodeURIComponent(formData),
                    success: function(msg) {
                        console.log(msg);
                    }
                });
        }
        function createFormJSON() {
            var jsonString =  '{\"content_producer\" : "' + document.getElementById('content_producer').value + '\", ' +
            '\"content_to_deliver\" : \"' + document.getElementById('content_to_deliver').value + '\", ' +
            '\"triggering_emotion\" : \"' + document.getElementById('triggering_emotion').value + '\"}';
            alert(jsonString);
            return jsonString;
        }
    </script>
	<h3 id="title">Message Registration service</h3>
	
	<div id="content_registration_form">
<!--        <form action="/api/registerMessage" onsubmit="sendData();" method="post">-->
<!--        <form action="/api/registerMessage" method="get">-->
            <table border="1" id="input_table" class="input_table">
                <tr>
                    <td>Content Producer Name</td>
                    <td>
                        <input type="text" id="content_producer" />
                    </td>
                </tr>
                <tr>
                    <td>Content To Deliver</td>
                    <td>
                        <input type="text" id="content_to_deliver" />
                    </td>
                </tr>
                <tr>
                    <td>Triggering Emotion</td>
                    <td>
                        <select id="triggering_emotion">
                            <option value="angry">Angry</option>
                            <option value="contempt">Contempt</option>
                            <option value="disgust">Disgust</option>
                            <option value="fear">Fear</option>
                            <option value="happiness">Happiness</option>
                            <option value="neutral">Neutral</option>
                            <option value="sadness">Sadness</option>
                            <option value="surprise">Surprise</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button id="submit_button" onclick="sendData();">Submit</button>
                    </td>
                </tr>
            </table>
<!--        </form>-->
	</div>
</body>
</html>